@use "../../node_modules/@crossfox/css-start/dist/base.min.css";
@use 'globals' as *;
@mixin isMobile {
  @media (max-width: $width-mob) {
    @content;
  }
}

@mixin isDesktop {
  @media (min-width: $width-mob) {
    @content;
  }
}

html {
  font-size: 2.1vw;

  @include isDesktop(){
    font-size: .525vw;
  }
}

body {
  font: 400 185%/1.4 $font-main;
  display: flex;
  flex-direction: column;
}
main {
  flex-grow: 1;
}


.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 7rem 0;
}
p+p{
  margin-top: 3rem;
}
