@use "globals" as *;
/* header */
.header {
  @extend %pos-fix;
  transition: 0.4s;
  z-index: 9;
  translate: 0 -100%;
  background-color: white;
  color: $bg-color;
  & > .container {
    @extend %flex-bt;
    padding: 2rem 0;
  }
}
.loaded .header {
  translate: 0;
}

.header-logo {
  font-size: $font-l;
  font-weight: 600;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;

  img {
    width: 12.2rem;
    height: 7.2rem;
    margin-right: 0.8rem;
  }
}

$header-burger-radius: 6rem;
.header-burger {
  $height: 0.3rem;
  $bg: $brand-color;
  padding: 0;
  width: 4rem;
  height: 2.7rem;
  border: 0;
  position: relative;
  z-index: 9;
  background: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  span,
  &::after,
  &::before {
    display: block;
    width: 100%;
    height: $height;
    background: $bg;
    transition: 0.3s transform;
  }

  &::after,
  &::before {
    content: "";
  }
}

.header-nav-menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 8;
  pointer-events: none;
}

.header-nav-menu {
  position: relative;
  z-index: 1;
  background: #eee;
  min-height: 100dvh;
  padding-top: 10rem;
  transition: 0.7s ease;
  transform: translateX(200.1%);
  padding-left: 8rem;
  font-size: $font-xl;

  li {
    font-weight: 600;
    font-family: Pacifico;
  }

  .background-header {
    filter: grayscale(1);
    opacity: 0.4;
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: $brand-color;
    position: absolute;
    top: 0;
    right: 100%;
  }
}

body {
  // IS_SCROLL
  &.is-scroll {
    header {
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.4);
      background: white;
    }
  }
  &.is-scroll,
  &.header-menu-active {
    header {
      color: $text-color;
    }
    .header-burger {
      &::before,
      span,
      &::after {
        background: $brand-color;
      }
    }
  }
  // IS_ACTIVE
  &.header-menu-active {
    overflow: hidden;
    color: $bg-color-dark;
    .header-burger {
      &::before {
        transform: translateY(1rem) rotate(45deg);
      }
      span {
        transform: scaleX(0);
      }
      &::after {
        transform: translateY(-1.45rem) rotate(-45deg);
      }
    }

    .header-nav-menu {
      transform: translateX(0);
      pointer-events: all;
      li:hover {
        color: $brand-color;
      }
    }
  }
}

.img-container-logo {
  position: absolute;
  z-index: 99;
  display: flex;
  bottom: 2rem;
  width: 100%;
  justify-content: center;
  gap: 2rem;
  left: 0rem;
  .zhpr-uci {
    width: 15rem;
  }
}
