$color-1: #1d1e22;
$color-2: #fafafa;


$width-mob: 980px;
$text-color: #fafafa;
$brand-color: #f17938;
$secondary-text: #fff;
// light:
$text-color: $color-1;
$bg-color: $color-2;

// dark:
$text-color-dark: $color-2;
$bg-color-dark: $color-1;
$font-s: 1rem;
$font-m: 2rem;
$font-l: 2.4rem;
$font-xl: 2.7rem;
$font-xxl: 3.7rem;

$font-header:  serif;
$font-main: sans-serif;
